.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.loader {
    position: relative;
    text-align: center;
    justify-content: center;
}

.shimmer {
    color: grey;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 1s infinite;
    max-width: 400px;
    border-radius: 30rem;
    position: relative;
}
.loading {
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    animation: shimmer 0.5s infinite;
    position: absolute;
    width: 100%;
    bottom: 40px;
    font-size: 1.3rem;
}

@keyframes shimmer {
    100% {
        -webkit-mask-position: left
    }
}